
body{
  background-color: black;
  color: beige;
  text-align: center;
}

h1 {

  -moz-animation: example4 10s ease-out;
 -webkit-animation: example4 10s ease-out;
 animation: example4 10s ease-out;
  /* -webkit-animation: h1 10s ease-out; */
}

div{
  margin: 20px;
}

button{
  background-color: beige;
  color: orange;
  font-size: 16px;
  border-radius: 20px
}



table{
  margin:auto;
  width: 500px;
  height: 500px;
  border: 2px orange solid;
}

td {
  width:33%;
  height:33%;
  border: 1px solid orange;
}

h2 {
  height: 30px;

}
