/* * {border: red solid  1px} */

body{
  background-color: rgb(21, 29, 38);
  color: beige;
  /* text-align: center; */
  box-sizing: border-box;
  font-family: 'Love Ya Like A Sister', cursive;
}


h1{
  text-align: center;
  color: orange;
  font-size: 40px;
}

.scale{
  text-align: center;
}

span{
  padding: 0 15px;
  font-style: italic;
  background-color: beige;
  color: orange;
  border-radius: 20px;
  margin: 15px;
}

h2 {
  /* border: red solid  1px; */
  text-align:center;
  -moz-animation: example4 5s ease-out;
  -webkit-animation: example4 5s ease-out;
  animation: example4 5s ease-out;
  /* -webkit-animation: h1 10s ease-out; */
}


@keyframes example4 {
 0%   {
 -moz-transform: translateX(200%); /* Firefox bug fix */
 -webkit-transform: translateX(200%); /* Firefox bug fix */
 transform: translateX(200%);
 }
 100% {
 -moz-transform: translateX(0%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%);
 }
}


div#table{
  display: inline-block;
  position:absolute;
  right: 45%;
  /* width:80%; */
  text-align: center;
  /* position:relative; */
  /* border: 0.5px red solid; */
}

div#aside{
  display: inline-block;
  position: absolute;
  left: 55%;
  text-align: center;
  padding:0px 100px;

  /* margin:100px; */
  /* width: 20%; */
  /* border: 0.5px red solid; */
}

/* good */
#newGame{
  background-color: orange;
  color: beige;
  font-size: 26px;
  border-radius: 20px;
  font-weight:900;
  margin: 50px auto 10px;
  padding: 5px 14px;
  border: 0px;
  outline: none;
  font-family: 'Love Ya Like A Sister', cursive;
}

#gameRound{
  margin: 20px auto 40px;
  font-style: italic;
  font-size: 20px;
}

.score{
  font-size: 20px;
}

.player{
  font-size: 30px;
  color: orange;
}

table{
  /* position: relative; */
  /* right:10%; */
  /* top: 25%; */
  width: 400px;
  height: 400px;
  border: 2px orange solid;
  /* padding: 10px; */
}

/* good */
td {
  text-align: center;
  width:33%;
  height:33%;
  border: 1px solid orange;
  font-size: 250%;
}

h2 {
  height: 30px;
  font-style: italic;
}

#draw {
  font-size: 20px;
}
