
body{
  background-color: black;
  color: beige;
  text-align: center;
}

button{
  color: white
}



table{
  margin:auto;
  width: 500px;
  height: 500px;
  border: 2px orange solid;
}

td {
  width:33%;
  height:33%;
  border: 1px solid orange;
}

h2 {
  height: 30px;
}
